
.nav{
    margin-right: 80px;
    margin-top: 20px;
}

.nav a{
    margin-right: 20px;
    color:white;
}

.navbar{
    background: #202020;
    }
@media only screen and (max-width: 990px){
    .nav a{
    margin-right: 20px;
}
    
  }

.container-fluid img{
    width:200px;
    margin-top: 20px;
    margin-left: 30px;
}

#about .clearfix h3{
    margin-top: 60px;
    margin-bottom: 30px;
}

#about{
    margin: 50px;
}

#objective .row h5{
    margin-top: 60px;
    margin-bottom: 60px;
}

#objective .objective1{margin-bottom: 20px;
}

#objective .text-center{
    padding-bottom: 30px;
    padding-top: 30px;
}

#more {
    display: none;
}

.background img{
    width: 100%;
}

